<h1>Data</h1>

---------------------------------

<h2> Delete all Data in Database</h2>
<p> Please reload the data from index tab after checking this functionality so that others (Who don't have any sample data) can also experiment with the web app. </p>

<%= form_tag '/home/delete_all_data' do %>
    <div><%= submit_tag 'Delete' %></div>
<% end %>

---------------------------------

<h2> Listing Data </h2>

<table class = 'hovertable'>
  <thead>
    <tr>
      <th>Session</th>
      <th>Time</th>
      <th>Timedrift</th>
      <th>Pretty Time</th>
      <th>Event</th>
      <th>Parameters</th>
    </tr>
  </thead>

  <tbody>
    <% @log_data.each do |log_datum| %>
      <tr onmouseover="this.style.backgroundColor='#ECEEF6';" onmouseout="this.style.backgroundColor='#d4e3e5';">
        <td><font size="1"><%= log_datum.session %></font></td>
        <td><%= log_datum.time %></td>
        <td><font size="1"><%= log_datum.timeDrift %></font></td>
        <td><font size="1"><%= log_datum.prettyTime %></font></td>
        <td><%= log_datum.event %></td>
        <td><font size="1"><%= log_datum.parameters %></font></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
