<h2> Listing Data Grouped according to session</h2>
<p> It lists data grouped according to session. Same session events are listed together and different sessions are separated by -- </p>

<table BORDER=1 CELLPADDING=3 CELLSPACING=1 
    RULES=COLS FRAME=BOX>
  <thead>
    <tr>
      <th>Session</th>
      <th>Time</th>
      <th>Timedrift</th>
      <th>Event</th>
      <th>Parameters</th>
    </tr>
  </thead>

  <tbody>
    <% log_datum_prev = @log_data[0] %>
    <tr>
      <td><hr></td>
      <td><hr></td>
      <td><hr></td>
      <td><hr></td>
      <td><hr></td>

    </tr>
    <% @log_data.each do |log_datum| %>
      <% if log_datum_prev.session == log_datum.session %>
        <tr>
          <td><font size="1"><%= log_datum.session %></font></td>
          <td><%= log_datum.time %></td>
          <td><font size="1"><%= log_datum.timeDrift %></font></td>
          <td><%= log_datum.event %></td>
          <td><font size="1"><%= log_datum.parameters %></font></td>
        </tr>
      <% else %>
        <tr>
          <td><hr></td>
          <td><hr></td>
          <td><hr></td>
          <td><hr></td>
          <td><hr></td>

        </tr>

        <tr>
          <td><font size="1"><%= log_datum.session %></font></td>
          <td><%= log_datum.time %></td>
          <td><font size="1"><%= log_datum.timeDrift %></font></td>
          <td><%= log_datum.event %></td>
          <td><font size="1"><%= log_datum.parameters %></font></td>
        </tr>
      <% end %>
      <% log_datum_prev = log_datum %>
    <% end %>
  </tbody>
</table>

<br>
