<h1>Index</h1>

<%= form_tag '/home/post_data' do %>
    <%= label_tag 'data' %>
    <br>
    <%= text_area_tag 'data'%>
    <div><%= submit_tag 'Submit' %></div>
<% end %>

<br><hr>

<h3> Updates (Used for Debugging) </h3>

Data : <%= @data %>

<br>

Count : <%= @count %>