<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @log_datum.session %>
</p>

<p>
  <strong>Time:</strong>
  <%= @log_datum.time %>
</p>

<p>
  <strong>Timedrift:</strong>
  <%= @log_datum.timeDrift %>
</p>

<p>
  <strong>Event:</strong>
  <%= @log_datum.event %>
</p>

<%= link_to 'Edit', edit_log_datum_path(@log_datum) %> |
<%= link_to 'Back', log_data_path %>
