<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2> Concord Consortium Data Visualization App </h2>

<%= link_to "Home",home_path %> | <%= link_to "Data",data_path %> | <%= link_to "Analysis",analysis_path %> | <%= link_to "Group View",group_view_path %> | <%= link_to "About",about_path %>

<hr>

<%= yield %>

</body>
</html>
